@{
    Layout = "~/Views/Shared/ClientPanelLayout.cshtml";
}
@using System.Data
@model DataTable
<!-- ======= Hero Section ======= -->

<main id="main">
    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
        <div class="container">

            <div class="section-title">
                <h2>Services</h2>
                <h3><span>Donor Details</span></h3>
            </div>
            <form asp-controller="Donor" asp-action="DonorFilter">
                <div class="row mt-3 mb-3">
                    <div class="col-lg-3">
                        @if (ViewBag.BloodGroupDropDownList != null)
                        {
                            <label class="form-label font-weight-bold">Select BloodGroup</label>
                            <select class="form-control select2" data-toggle="select2" name="BloodGroupID" asp-items="@(new SelectList(ViewBag.BloodGroupDropDownList, "BloodGroupID", "BloodGroupName").ToList())">
                                <option value="" disabled selected>Select BloodGroup</option>
                            </select>
                        }
                    </div> <!-- end col -->
                    <div class="col-lg-3">
                        @if (ViewBag.StateDropDownList != null)
                        {
                            <label class="form-label font-weight-bold">Select State</label>
                            <select id="StateID" onchange="fnOnStateChange();" class="form-control select2" data-toggle="select2" name="StateID" asp-items="@(new SelectList(ViewBag.StateDropDownList, "StateID", "StateName").ToList()) ">
                                <option value="" disabled selected>Select State</option>
                            </select>
                        }
                    </div> <!-- end col -->
                    <div class="col-lg-3">
                        <label class="form-label font-weight-bold">Select City</label>
                        <select id="CityID" class="form-control select2" data-toggle="select2" name="CityID" asp-items="@(new SelectList(ViewBag.CityDropDownList, "CityID", "CityName").ToList()) ">
                        </select>
                    </div> <!-- end col -->
                    <div class="col-lg-3">
                        <input style="margin-top:27px" type="submit" class="btn btn-primary" value="Search" />
                        <a style="margin-top:27px" class="btn btn-primary" asp-controller="Donor" asp-action="CancelFilter">Clear Filter</a>
                    </div>
                </div>
            </form>

            <div class="table-responsible">
                <table id="scroll-horizontal-datatable" class="table w-100 nowrap">
                    <thead>
                        <tr>
                            <th>Blood Group</th>
                            <th>Donor name</th>
                            <th>State Name</th>
                            <th>City Name</th>
                            <th>Address</th>
                            <th>Contact Number</th>
                            <th>Email</th>
                            <th>Gender</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (DataRow drDonor in Model.Rows)
                        {
                            <tr>
                                <td>@drDonor["BloodGroupName"]</td>
                                <td>@drDonor["DonorName"]</td>
                                <td>@drDonor["StateName"]</td>
                                <td>@drDonor["CityName"]</td>
                                <td>@drDonor["Address"]</td>
                                <td>@drDonor["ContactNumber"]</td>
                                <td>@drDonor["Email"]</td>
                                <td>@drDonor["Gender"]</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    <!-- End Services Section -->


    <section>

    </section>
</main>

@section Scripts{
    <script>
        function fnOnStateChange() {
            var StateID = $("#StateID").val();
            if (StateID !== "") {
                $("#CityID").empty();
                $("#CityID").append($("<option></option>").val("").html("Select City"));
                $.ajax(
                    {
                        type: "POST",
                        contentType: "application/json; charset:utf-8",
                        url: "@Url.Action("CityDropdownListByStateID", "Donor")" + "?&StateID=" + StateID,
                        data: {},
                        dataType: "json",
                        success: function (Result) {
                            $.each(Result,
                                function (key, value) {
                                    $("#CityID").append($("<option></option>").val(value.cityID).html(value.cityName));
                                });
                        },
                        error: function (r) {
                            alert("Error while loading dropdown.");
                        }
                    });
            }
            else {
                $("#StateID").empty();
                $("#StateID").append($("<option></option>").val("").html("Select State"));
            }
        }



    </script>
}